@model IEnumerable<PurchaseManagementSystem.Models.Item>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Display</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item_Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Item_Id" class="btn btn-success ">Edit </a>
                    <a asp-action="Details" asp-route-id="@item.Item_Id" class="btn btn-info ">Details </a>
                    <a asp-action="Delete" asp-route-id="@item.Item_Id" class="btn btn-danger ">Delete </a>


                </td>
            </tr>
        }
    </tbody>
</table>
