@model IEnumerable<PurchaseManagementSystem.Models.Purchase>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Purchase_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Purchase_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Purchase_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
